* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-position: -140px 0px;
    font-family: 'Bungee Inline', cursive;
    font-size: large;
}

h1 {
    width: 70%;
    font-size: xx-large;
    text-align: center;
    color: #FFC00D;
    display: block;
}

section {
    text-align: center;
    width: 70%;
}

em {
    font-style: italic;
}

#title {
    background-image: url("../images/starwars.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px 0;
    height: 171px;
    width: 70%;
}

#heading {
    margin-top: 5vh;
    color: #FFC00D;
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
}

#display {
    height: 180px;
}

#attack-stats {
    height: 40px;
    font-size: medium;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.display-character {
    display: inline-block;  
    position: relative;  
    width: 200px;
    height: 150px;
    margin: 20px 10px;
    border: 5px solid white;
}

.character-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #FFC00D;
    background-color: black;
    padding: 2px;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #d1d1d1;
    font-size: large;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: black;
    text-align: left;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.display-final-quote {
    position: relative;
    font-size: large;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
    font-weight: bold;
    color: white;
    top: -90px;
}
.choose-enemy{
    margin: 20px;
    border: 5px solid #FF0000;
}

.attack{
    width: 190px;
    height: 140px;
    border: 0px;
    margin: 25px 25px;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: greenPulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
    from {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 10px greenyellow;
        -moz-box-shadow: 0 0 5px 10px greenyellow;
        box-shadow: 0 0 5px 10px greenyellow;
    }
    to {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
}

#defeated-enemies-heading {
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
}

#defeated-enemies > div{
    margin: 20px;
    border: 5px solid gray;
}

#luke {
    background-image: url("../images/luke.jpg");
}
#vader {
    background-image: url("../images/vader.jpg");
}
#stormtrooper {
    background-image: url("../images/stormtrooper.jpg");
}
#compactor {
    background-image: url("../images/compactor.jpg");
}