* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/background.jpg");
    background-position: -140px 0px;
    font-family: 'Bungee Inline', cursive;
    font-size: large;
}

h1 {
    width: 70%;
    font-size: xx-large;
    text-align: center;
    color: #FFC00D;
    display: block;
}

section {
    text-align: center;
    width: 70%;
}

/* the only button is "Play Again" */
button {
    text-align: center;
    padding: 10px 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #FF0000;
    box-shadow: 5px 5px 2px 2px black;
}

em {
    font-style: italic;
}

#title {
    background-image: url("../images/starwars.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 0 60px 0;
    height: 171px;
    width: 70%;
}

#heading {
    margin-top: 5vh;
    color: #FFC00D;
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
}

.smaller-heading-text {
    margin-top: 20px;
    font-size: large;
    text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
}

#display {
    height: 180px;
}

#attack-stats {
    height: 60px;
    font-size: x-large;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: lightgray;
    text-shadow: 3px 3px black, -3px -3px black, -3px 3px black, 3px -3px black;
}

.display-character {
    display: inline-block;  
    position: relative;  
    width: 200px;
    height: 150px;
    margin: 20px 10px;
    border: 5px solid white;
}

.character-info {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #FFC00D;
    background-color: black;
    padding: 2px;
    width: 100%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    /* margin: 0 auto; */
    background-color: #d1d1d1;
    font-size: large;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    color: black;
    text-align: center;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    left: 10%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.display-final-quote {
    position: relative;
    font-size: x-large;
    font-family: "Courier New", Courier, monospace;
    text-shadow: 3px 3px black, -3px -3px black, -3px 3px black, 3px -3px black;
    font-weight: bold;
    color: lightgray;
    top: -90px;
}

.choose-enemy{
    margin: 20px;
    border: 5px solid #FF0000;
}

.left-side-fighter {
    left: -300px;
    opacity: 0;
}

.right-side-enemy {
    left: +300px;
    opacity: 0;
}

.attack{
    width: 190px;
    height: 140px;
    border: 0px;
    margin: 25px 25px;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: greenPulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
    from {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 10px greenyellow;
        -moz-box-shadow: 0 0 5px 10px greenyellow;
        box-shadow: 0 0 5px 10px greenyellow;
    }
    to {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
}

.text-pulse{
    -webkit-animation-name: textPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-name: textPulse;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 2;
    animation-name: textPulse;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

.button-pulse{
    -webkit-animation-name: textPulse;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-name: textPulse;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: 2;
    animation-name: textPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
}

@-webkit-keyframes textPulse {
    from {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
    50% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }
    to {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }
}

#defeated-enemies-heading {
    text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
}

#defeated-enemies > div{
    margin: 20px;
    border: 5px solid gray;
}

#luke {
    background-image: url("../images/luke.jpg");
}
#vader {
    background-image: url("../images/vader.jpg");
}
#stormtrooper {
    background-image: url("../images/stormtrooper.jpg");
}
#compactor {
    background-image: url("../images/compactor.jpg");
}

@-ms-viewport{
    width: device-width;
}

@media only screen and (max-width: 670px) {
    h1, section, #title {
        width: 100%;
    }
    #title {
        background-image: url("../images/starwarssmall.png");
        margin: 10px 0 0 0;
        height: 85px;
    }
    #heading, #defeated-enemies-heading {
        font-size: medium;
    }
    #defeated-enemies > div{
        margin: 20px 5px;
    }
    .display-character {
        width: 100px;
    }
    .character-info {
        font-size: small;
    }
    .choose-enemy{
        margin: 20px 5px;
    }
    #heading {
        margin-top: 3vh;
    }
    .display-final-quote {
        font-size: medium;
        text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
    }
    #attack-stats {
        font-size: small;
    }
    #luke {
        background-position: -70px;
    }
    #vader {
        background-position: -35px;
    }
    #compactor {
        background-position: -35px;
    }
}