* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.jpg");
    background-position: right 0px;
    font-family: 'Bungee Inline', cursive;
    font-size: large;
}

h1 {
    width: 60%;
    font-size: xx-large;
    text-align: center;
    color: white;
    display: block;
}

section {
    text-align: center;
    width: 60%;
}

#heading {
    margin-top: 15%;
}

#defeated-enemies-heading {
    position: fixed;
    bottom: 230px;
}

#defeated-enemies {
    position: fixed;
    bottom: 40px;
}

.display-character {
    display: inline-block;    
    text-align: center;
    vertical-align: middle;
    color: #f4b411;
    width: 200px;
    height: 150px;
    margin: 20px 0px;
    border: 5px solid white;
}

.choose-enemy{
    margin: 20px;
    border: 5px solid red;
}

.attack{
    width: 190px;
    height: 140px;
    border: 0px;
    margin: 25px 30px 20px 20px;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: greenPulse;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
    from {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 10px greenyellow;
        -moz-box-shadow: 0 0 5px 10px greenyellow;
        box-shadow: 0 0 5px 10px greenyellow;
    }
    to {
        -webkit-box-shadow: 0 0 5px 5px #91bd09;
        -moz-box-shadow: 0 0 5px 5px #91bd09;
        box-shadow: 0 0 5px 5px #91bd09;
    }
}

#defeated-enemies > div{
    margin: 20px;
    border: 5px solid gray;
}

#luke {
    background-image: url("../images/luke.jpg");
}
#vader {
    background-image: url("../images/vader.jpg");
}
#stormtrooper {
    background-image: url("../images/stormtrooper.jpg");
}
#compactor {
    background-image: url("../images/compactor.jpg");
}
